[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-jwt-auth = "*"
uvicorn = "*"
bcrypt = "*"
cryptography = "*"
fastapi-mail = "*"
pymongo = "*"
python-dotenv = "*"
passlib = "*"
pydantic = "*"
typing = "*"
jinja2 = "*"
aioredis = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"
